language: php

php:
#  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
#  - hhvm
  - 7.1

before_script:
  - composer self-update
  - composer update --prefer-source

script:
  - phpunit --testsuite travis-ci
  - phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
