language: php
dist: trusty

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  include:
    - php: 5.3
      dist: precise
  allow_failures:
    - php: hhvm
    - php: 5.3
      dist: precise

before_script:
  - composer self-update
  - composer update --prefer-source

script:
  - vendor/bin/phpunit --testsuite travis-ci
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
