language: php
dist: trusty

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

matrix:
  allow_failures:
    - php: hhvm
      dist: precise

before_script:
  - composer self-update
  - composer install

script:
  - vendor/bin/phpunit --testsuite travis-ci
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
